body {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid black;
}

h1 {
  text-align: center;
}

form {
  border: 1px solid black;
  width: 45%;
  margin: 0 auto;
  padding: 25px;
  background-color: antiquewhite;
}
